<!-- work section -->
<div class="container">
  <h1 class="section-title">OUR PREVIOUS WORKS</h1>
  <div class="work-list">
    <% for( let i = 0; i < works.length; i++ ) { %>
    <div data-aos="zoom-in-down" class="work-item">
      <img src="/images/works/work<%=i+1%>.jpg" alt="<%= works[i].title %>">
      <div class="work-content">
        <h3><%= works[i].title %> </h3>
        <p> <%= works[i].info %> </p>
        <a href="<%=works[i].url%>"><button>VIEW MORE</button></a>
      </div>
    </div>
    <% } %>
  </div>
</div>