<!-- HEADER -->
<%- include("./partials/header.ejs") %>

<!-- COVER -->
<section class="cover">
  <div class="cover-overlay">
    <div class="cover-text">
      <h1>We understand your requirements!</h1>
      <div class="cta-btns">
        <a href="#contact"><button class="contact-btn">CONTACT US</button></a>
        <a href="#about"> <button class="about-btn">ABOUT US</button></a>
      </div>
      <div class="features">
        <div data-aos="zoom-in-up" class="feature-item">
          <i class="fas fa-dollar-sign"></i>
          <p>Fixed price projects</p>
        </div>
        <div data-aos="zoom-in-up" class="feature-item">
          <i class="far fa-clock"></i>
          <p>Recieve on time</p>
        </div>
        <div data-aos="zoom-in-up" class="feature-item">
          <i class="far fa-laugh"></i>
          <p>Satisfaction gauranteed</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- ABOUT US -->
<section id="#about" class="about">
  <%- include("./partials/about.ejs") %>
</section>
<!-- SERVICES -->
<section class="services">
  <%- include("./partials/services.ejs") %>
</section>
<!-- PREVIOUS WORKS -->
<section class="works">
  <%- include("./partials/works.ejs") %>
</section>

<!-- TESTIMONIALS -->
<section class="testimonials">
  <%- include("./partials/testimonials.ejs") %>
</section>

<!-- C-T-A -->
<section class="cta">
  <h2 data-aos="fade-right">Start your journey with us now</h2>
  <a href="#contact"><button data-aos="fade-left">Get started</button></a>
</section>

<!-- CONTACT -->
<section class="contact">
  <%- include("./partials/contact.ejs")  %>
</section>

<!-- FOOTER -->
<%- include("./partials/footer.ejs") %>